<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style/style.css" rel="stylesheet" />
    <link href="~/Content/style/embed.css" rel="stylesheet" />
    <link href="~/Content/style/PLT.css" rel="stylesheet" />
    <script src="~/Content/lib/powerbi-client/dist/powerbi.min.js"></script>
</head>

<body>
    <script src="~/Content/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/lib/powerbi-client/dist/powerbi.min.js"></script>
    <script src="~/Scripts/globals.js"></script>
    <div class="blurryBackground">
        @RenderBody()
    </div>

    @*<script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/Content/lib/powerbi-client/dist/powerbi.min.js"></script>
    @*<script src="~/Scripts/index.js"></script>*@
    <script src="~/Scripts/error.js"></script>
    <script src="~/Scripts/data.js"></script>
    @*<script src="~/Scripts/embed.js"></script>*@
    <script src="~/Scripts/events.js"></script>
    <script src="~/Scripts/index.js"></script>
    
</body>

</html>
